### Instructions on Use of Tools

* Do not use Generative AI tools (such as ChatGPT, Bard, Copilot, or similar) to answer, write, or generate any part of your work for this activity.
* You may refer to official documentation (for example, pandas or numpy documentation) and your previous notebooks or class materials.
* You may also review slides, notes, or examples provided by your instructor.
* All work should be your own code and reasoning, written by you without AI assistance.

**Any violations of this policy will be treated as academic dishonesty.**

### How to turn off AI assistance in Colab:
Go to Tools > Settings > AI Assistance, then turn off code suggestions and explanations.
Also, disable any AI browser extensions (like Copilot or Kite) to ensure no AI-generated help is used.

In [ ]:
#Import everything here

## Easy Questions

**1. Create a DataFrame:**

Task: Create a pandas DataFrame from the following dictionary:

   ```
   data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
  ```

In [ ]:
#Code for #1 here

**2. Select a Column**
  
  Task: From the DataFrame created in the previous exercise, select and display only the `'Name'` column.

In [ ]:
#Code for #2 here

**3. Filter Data**

Task: From the same DataFrame, select and display the rows where the `'Age'` is greater than 30.

In [ ]:
#Code for #3 here

**4. Simple Calculation**

Task: Calculate the average age of all people in the DataFrame.

In [ ]:
#Code for #4 here

**5. Create a Simple Plot**

Task: Create a simple line plot of the following data, with `'Year'` on the x-axis and `'Sales'` on the y-axis.

```
sales_data = {'Year': [2018, 2019, 2020, 2021],
              'Sales': [100, 150, 200, 250]}
```

In [ ]:
#Code for #5 here

## Medium Questions

**6. Read a CSV**

Task: Read the sales.csv file into a pandas DataFrame.

In [ ]:
#Code for #6 here

**7. Group and Aggregate**

Task: Group the DataFrame by `'Region'` and calculate the total `'Sales'` for each region.

In [ ]:
#Code for #7 here

**8. Create a Bar Chart:**

Task: Create a bar chart showing the total sales for each product. The chart should have a title and labels for the x and y axes.

In [ ]:
#Code for #8 here

**9. Handling Missing Data:**

Task: Imagine the `'Sales'` column has some missing values (run the column in the next line to simulate this). Your task is to fill the missing sales values with the mean of the 'Sales' column.

In [ ]:
df.loc[2, 'Sales'] = np.nan
df.loc[5, 'Sales'] = np.nan
df.head(8) #To check the updated df

#Note: This works only if you named your dataframe as 'df'

In [ ]:
#Code for #9 here

**10. Merging DataFrames**

Task: Create a second DataFrame with the following data:

```
   manager_data = {'Region': ['East', 'West'],
                'Manager': ['Anna', 'Tom']}
```
Merge this DataFrame with your sales DataFrame so that the manager's name is added as a new column corresponding to the correct region.

In [ ]:
#Code for #10 here

## Hard Questions

**11. Outlier Detection Function**

Task: Write a Python function that takes a DataFrame and a column name as input. The function should identify and return a DataFrame of the outliers in that column based on the Interquartile Range (IQR) method.

An outlier is any value that is:
   * less than Q1 - 1.5 * IQR
   * or greater than Q3 + 1.5 * IQR.

In [ ]:
#Code for #11 here

**12. Advanced Plotting with Subplots:**

Task: Create a figure with two subplots:
   * The first subplot should be a scatter plot of 'Sales' vs. 'Date'.
   * The second subplot should be a histogram of the 'Sales' data.
     Both plots should have appropriate titles and labels.

In [ ]:
#Code for #12 here

**13. Conditional Column Creation with a Function:**

Task: Write a function that categorizes sales into 'High', 'Medium', and 'Low'.
   * 'High' sales are > 150.
   * 'Medium' sales are between 100 and 150 (inclusive).
   * 'Low' sales are < 100.
     Apply this function to the 'Sales' column to create a new column called 'Sales Category'.

In [ ]:
#Code for #13 here

**14. Top N Frequent Values Function:**

Task: Write a function that takes a DataFrame and a column name as input and returns a bar chart of the top N most frequent values in that column. The function should take N as an argument. For example, you could use it to find the top 2 most common products.

In [ ]:
#Code for #14 here